doctype html
html(lang="zh-CN")
  head
    title= keyword ? keyword : "DHT Search Engine"
    include ./head.jade
    if keyword
      meta(name="keywords", content= keyword)
    style(type='text/css').
      .torrentinfo span{
        font-size: 12px;
        padding: 0px 10px;
        border-right: 1px dashed #093;
      }
      .torrentinfo span.last{
        border-right: none;
      }
  body
    form.form-horizontal(action="/search", method="GET")
      include ./common.jade
      #container.col-xs-12.col-sm-12.col-lg-10.col-lg-offset-1
        each meta in datas
          .torrent
            .torrentname
              a(href="/hash/" + meta["_id"] target="blank")= meta.name
            .torrentinfo
              span
                a(href="magnet:?xt=urn:btih:" + meta["_id"]) Magnet Link
              span= 'Add Time: ' + new Date(meta.fetched).toISOString().slice(0, 10)
              - var fileCount = meta.files ? meta.files.length : 1
              if meta.updated
                span= 'Update Time: ' + new Date(meta.updated).toISOString().slice(0, 10)
              span.last= 'Files: ' + fileCount

      if datas.length === 10 || (page > 1 && datas.length > 0)
        nav.col-xs-12.col-sm-12.col-md-10.col-md-offset-1
          ul.pager
            li.previous(class= page > 1 ? '' : 'disabled')
              - var purl = page > 1 ? ("/search?s=" + keyword + "&p=" + (page ? Number(page) > 1 ? Number(page)  - 1 : '' : '')) : "#"
              a(href= purl) &lt;&lt; Previous
            li.next(class= datas.length === 10 ? '' : 'disabled')
              - var nurl = datas.length === 10 ? ("/search?s=" + keyword + "&p=" + (page ? Number(page) > 1 ? Number(page) + 1 : 2 : 2)) : "#"
              a(href= nurl) Next &gt;&gt;